*{
    margin: 0;
    box-sizing: border-box;
    color: rgba(0,0,0,0.87);
}

html{
    font-size: 62.5%;
    background-color: #ffff;
}

.upper-header{
    height: 6.0rem;
    padding: 0.6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: arial, sans-serif;
    font-size: 1.3rem;
}

.upper-navbar{
    display: flex;
    height: 4.8rem;
    align-items: center;
    padding: 0rem 0.4rem 0rem 3.2rem;
}

.gmail{
    padding: 0rem 0rem 0rem 1.5rem;
    text-decoration: none;
}.gmail:hover{
    text-decoration: underline;
}

.images{
    padding: 0rem 1.5rem 0rem 1.5rem;
    text-decoration: none;
}.images:hover{
    text-decoration: underline;
}

.apps{
    padding: 1.2rem;
    text-decoration: none;
}

.profile > img {
    padding: 0.8rem;
    border-radius: 10rem;
}